<launch>
	<!--turtlesim node-->
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" respawn="true"/>
	<!--Teleop_key node-->
	<node pkg="turtlesim" type="turtle_teleop_key" name="teleop_key" required="true" launch-prefix="xterm -e"/>
	<!--Pose subscriber node-->
	<node pkg="agitr" type="subpose.py" name="pose_subscriber" output="screen"/>
	<!--rqt graph-->
	<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>
</launch>
